#contenidoMatematico {
   overflow-x: auto;
    white-space: nowrap;
}

/* Estilo para mensaje de error*/
.mensaje-error {
    color: #dc3545;
    font-weight: bold;
    font-size: 0.85rem;
    display: block; 
    margin-top: 4px;
    min-height: 20px;
}